/* OTP */
#code {
    padding-left: 1ch;
    background: repeating-linear-gradient(90deg, dimgray 0, dimgray 1ch, transparent 0, transparent 1.5ch) 1ch 100%/ 9ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: .5ch;
    border: 0;
    box-shadow: none;
    outline: none;
    width: 11ch;
    margin: 0;
    display: block;
    margin: 1em auto;
}

/* TEL */
.iti {
    position: relative;
    display: block !important;
}