{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template auth_twilio/otp

    TODO describe template tel

    Example context (json):
    {
        "phone": "string"
    }
}}
<div class="rui-login-layout rui-login-layout-simple rui-login-layout--1">
    <div class="rui-login-box">
        <div class="rui-login-content">
            <div class="rui-loginpage-intro">
                <div class="rui-loginpage-intro-logo">
                    <a href="{{url}}">
                        <h2>{{#str}} dalail, auth_twilio {{/str}}</h2>
                    </a>
                </div>
                 {{#error}}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {{/error}}
            </div>
            <div class="rui-login-form">
                <form id="otp-form" onsubmit="handleSubmit(event)">
                    <label for="code">{{#str}} otp, auth_twilio {{/str}}<span class="text-danger">*</span></label>
                    <input type="text" name="code" id="code" maxlength="6" dir="ltr" placeholder="000000" required>
                    <small id="codeHelp" class="form-text text-muted">{{#str}} otphelp, auth_twilio {{/str}} <span dir="ltr">{{phone}}</span></small>
                    <input type="submit" value="{{#str}} verify, auth_twilio {{/str}}" class="btn btn-lg btn-primary btn-block my-3">
                    <a href="/login" class="btn btn-lg btn-secondary btn-block m-0">{{#str}} cancel {{/str}}</a>
                    <p class="py-3 text-center font-weight-medium">
                        {{#str}} resendtext, auth_twilio {{/str}}
                        <button type="button" onclick="HandleResend(this)" class="btn btn-link">
                            {{#str}} resendbtn, auth_twilio {{/str}}
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
