{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template auth_twilio/tel

    TODO describe template tel

    Example context (json):
    {
        "url": "string",
        "error": "string"
    }
}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/css/intlTelInput.css">
<div class="rui-login-layout rui-login-layout-simple rui-login-layout--1">
    <div class="rui-login-box">
        <div class="rui-login-content">
            <div class="rui-loginpage-intro">
                <div class="rui-loginpage-intro-logo">
                    <a href="{{url}}">
                        <h2>{{#str}} dalail, auth_twilio {{/str}}</h2>
                    </a>
                </div>
                {{#error}}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {{/error}}
            </div>
            <div class="rui-login-form">
                <form onsubmit="handleSubmit(event)" id="login-form">
                    <div class="form-group">
                        <label for="phone">{{#str}} phone, auth_twilio {{/str}}</label>
                        <input id="phone" name="phone" type="tel" autocomplete="tel" class="form-control">
                        <small id="error-msg" class="hidden form-text text-danger"></small>
                    </div>
                    <button id="btn" type="submit"class="btn btn-lg btn-primary btn-block my-3">
                        {{#str}} sendcode, auth_twilio {{/str}}
                    </button>
                    <a href="/login" class="btn btn-lg btn-secondary btn-block m-0">{{#str}} cancel {{/str}}</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.5/build/js/intlTelInput.min.js"></script>
<script>
</script>

<script>

// TEL
const loginForm = document.querySelector('#login-form');
const phoneEl = document.querySelector("#phone");
const btn = document.querySelector("#btn");
const errorMsg = document.querySelector("#error-msg");

const errorMap = [
    "{{#str}} invalidnumber, auth_twilio {{/str}}",
    "{{#str}} invalidcountrycode, auth_twilio {{/str}}",
    "{{#str}} phonetooshort, auth_twilio {{/str}}",
    "{{#str}} phonetoolong, auth_twilio {{/str}}",
    "{{#str}} invalidnumber, auth_twilio {{/str}}",
];

const phoneInput = window.intlTelInput(phoneEl, {
    initialCountry: "sa",
    showSelectedDialCode: true,
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.5/build/js/utils.js",
});

function handleSubmit(event) {
    event.preventDefault();
    reset();
    if (!phoneEl.value.trim()) {
        showError("{{#str}} missingphone, auth_twilio {{/str}}");
    } else if (phoneInput.isValidNumberPrecise()) {
        loginForm.method = "POST";
        loginForm.action = "{{url}}";
        phoneEl.value = phoneInput.getNumber();
        loginForm.submit();
    } else {
        const errorCode = phoneInput.getValidationError();
        const msg = errorMap[ errorCode ]
            || "{{#str}} invalidnumber, auth_twilio {{/str}}";
        showError(msg);
    }
}

const reset = () => {
    phoneEl.classList.remove("is-invalid");
    errorMsg.innerHTML = "";
    errorMsg.classList.add("hidden");
    btn.disabled = false;
};

const showError = (msg) => {
    phoneEl.classList.add("is-invalid");
    errorMsg.innerHTML = msg;
    errorMsg.classList.remove("hidden");
    btn.disabled = true;
};

phoneEl.addEventListener('change', reset);
phoneEl.addEventListener('keyup', reset);

</script>